<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">>
<body>
<main layout:fragment="content">
    <div class="p-5 mt-4 text-center bg-body-tertiary rounded-3">
        <i class="bi me-2 bi-shield-x text-danger" style="font-size: 4rem;"></i>
        <h1 class="text-body-emphasis">Authentication Status</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Currently, you are <b>not</b> authenticated.
        </p>

        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Use Login and Sign-up link in the header of this page to get started.
        </p>
    </div>
</main>
</body>
</html>
