<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      xmlns:th="https://www.thymeleaf.org">
<body>
<main layout:fragment="content">
    <form th:action="@{/login}" method="post" class="form-log-in w-100 m-auto">
        <h1 class="h3 mb-3 fw-normal">Please log in</h1>

        <div class="form-floating mb-2">
            <input type="email" class="form-control" id="username" name="username" placeholder="name@example.com">
            <label for="username">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <label for="password">Password</label>
        </div>

        <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" name="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Remember me
            </label>
        </div>

        <div class="my-3">
            <span class="is-invalid"></span>
            <div th:if="${param.error}" th:text="${session[AUTH_FAILED_MESSAGE]}" class="invalid-feedback"></div>
            <div th:if="${param.logout}" class="invalid-feedback">You have been logged out.</div>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
    </form>
</main>
</body>
</html>
