<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      xmlns:th="https://www.thymeleaf.org">
<body>
<main layout:fragment="content">
    <div class="container my-5">
        <div class="position-relative p-5 text-center text-muted bg-body">
            <i class="bi bi-check2-circle fs-1"></i>
            <h1 class="text-body-emphasis">Password reset e-mail sent.</h1>
            <p class="col-lg-6 mx-auto mb-4">
                If you have provided valid e-mail address of an existing account,
                password reset link was be sent to you.
            </p>
            <a th:href="@{/login}" class="btn btn-primary px-5 mb-5" type="button">
                OK
            </a>
        </div>
    </div>
</main>
</body>
</html>
