<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      xmlns:th="https://www.thymeleaf.org">
<body>
<main layout:fragment="content">
    <form class="form-sign-up w-100 m-auto" action="#" th:action="@{/passwordResetUsingToken}"
          th:object="${passwordResetData}" method="post">
        <h1 class="h3 mb-3 fw-normal">Sign up</h1>

        <div class="form-floating mb-2">
            <input type="hidden" class="form-control" id="token" placeholder="" th:field="*{token}"
                   th:classappend="${#fields.hasAnyErrors()} ? (${#fields.hasErrors('token')} ? is-invalid : is-valid)">
            <div th:if="${#fields.hasErrors('token')}" th:errors="*{token}" class="invalid-feedback"></div>
        </div>
        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"
                   th:classappend="${#fields.hasErrors('password')} ? is-invalid">
            <label for="password">Password</label>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="repeatedPassword" placeholder="Repeated password"
                   th:field="*{repeatedPassword}"
                   th:classappend="${#fields.hasErrors('repeatedPassword')} ? is-invalid">
            <label for="repeatedPassword">Repeated password</label>
            <div th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}"
                 class="invalid-feedback"></div>
        </div>

        <div class="form-floating mb-3">
            <span class="is-invalid"></span>
            <div th:errors="*{global}" class="invalid-feedback"></div>

            <td th:switch="${passwordResetResult.name()}">
                <div th:case="PASSWORD_RESET_TOKEN_NOT_FOUND" class="invalid-feedback">
                    Password reset token was not found. Please try <a th:href="@{/passwordReset}">resending password
                    reset link </a>.
                </div>
                <div th:case="PASSWORD_RESET_TOKEN_EXPIRED" class="invalid-feedback">
                    Password reset token expired. Please try <a th:href="@{/passwordReset}">resending password
                    reset link </a>.
                </div>
            </td>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Reset password</button>
    </form>
</main>
</body>
</html>
